$font-primary: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;


$color-text: rgba(255, 255, 255, .8);
$color-text-dark: rgba(255, 255, 255, 1);
$color-text-light: rgba(255, 255, 255, .6);
$color-background: rgba(26, 23, 28, 1);
$color-border: rgba(255, 255, 255, 1);

$color-grey: rgba(49, 46, 51, 1);
$color-light-green: #c3ead3;