// VARIABLES
$font-primary: 'General Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

$primary: rgba(255, 255, 255, 1);
$secondary: rgba(255, 255, 255, .8);
$dark: rgba(14, 16, 16, 1);
$highlight: rgba(248, 212, 122, 1);

$bg-dark: rgba(14, 16, 16, 1);
$bg-light: rgba(23, 26, 26, 1);

$border: rgba(255, 255, 255, .7);

$screen-sm-max: 500px;
$screen-md-max: 700px;
$screen-lg-max: 1000px;
$screen-xl-max: 1400px;



// BREAKPOINTS
// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
      @content;
  }
}