@import 'reset';
@import 'variables';

body {
  color: $primary;
  font-family: $font-primary;
  font-size: 100%;
  background: $bg-dark;
}

.button {
  display: inline-block;
  padding: .8rem 2.25rem;
  color: $dark;
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
  background: $highlight;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all ease .2s;

  &:hover {
    cursor: pointer;
    color: $bg-dark;
    background: #fff;
  }

  &.button-sm {
    font-size: 1rem;
    padding: .5rem 1.2rem;
  }
}

.button-solid {
  background: #fff;
  border: none;
  text-transform: none;
  color: $primary;
  border-radius: 5px;
  letter-spacing: 0;
  font-size: 1.05rem;
}

[class^="icon-"] {
  display: block;
  width: 28px;
  height: 28px;
  text-indent: -9999px;
}

.icon-instagram { background: url('../images/instagram.svg') no-repeat center }
.icon-linkedin { background: url('../images/linkedin.svg') no-repeat center }

.wrapper {
  width: 90%;
  max-width: 1760px;
  margin: 0 auto;
}

.page_top {
  width: 100%;
  min-height: 100vh;

  #myVideo {
    width: 100%;
    height: 100vh;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
  }

  .wrapper {
    height: 100vh;
  }
}

.header {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;

  @include md { justify-content: center }

  h1 {
    margin: 0;
    padding: 0;
    color: $secondary;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    display: flex;
    
    img {
      width: 27px;
      margin-right: 1rem;
      
      @include md { display: none }
    }
  }

  .header__nav {
    @include md { display: none }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-right: 1rem;
        a, button {
          border: none;
          cursor: pointer;
          padding: .8rem 1rem;
          color: $secondary;
          font-weight: 500;
          text-decoration: none;
          border-radius: 3px;
          transition: all ease .2s;

          &:hover {
            color: $primary;
            background: rgba(255, 255, 255, .2) !important;
          }

          &:focus {
            outline: none; /* Remove the default outline */
          }
        }

        &:last-child {
          margin: 0;

          a, button {
            background: rgba(255, 255, 255, .15);
          }
        }
      }
    }
  }

  p { padding: 0.75rem 0 }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, .85);
  backdrop-filter: blur(6px);
  
  z-index: 5;

  .overlay__close {
    position: absolute;
    top: 3rem;
    right: 4rem;
    z-index: 1;

    button {
      background: none;
      border: none;
      color: $primary;
      padding: 1;
      font-size: 1.25rem;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .overlay__text{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .overlay__clipboard {
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      
      border-radius: 5px;
    }

    h3 {
      padding: .6rem 1.25rem;
      font-size: 3rem;
      font-weight: 600;
      text-align: center;

      @include lg { font-size: 2.5rem }
      @include md { font-size: 2rem }
      @include sm { font-size: 1.25rem }
    }

    button {
      
      align-self: center;
      background: $highlight;
      border: none;
      color: $dark;
      font-weight: 500;
      font-size: .8rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color ease .2s;

      &:hover {
        background: darken($highlight, 10%);
      }

      &:active {
        background: darken($highlight, 20%);
      }
    }
  }

  .overlay__trigger {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.hero {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.scroll-arrow {
  position: absolute;
  bottom: 2rem; /* Position it 2rem from the bottom */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  cursor: pointer;
  transition: opacity ease .2s;

  &.hide { opacity: 0 }

  svg {
    width: 40px;
    height: 40px;
    fill: $secondary; // Customize the color
    transition: transform 0.3s ease;
    
    &:hover {
      transform: translateY(5px); /* Moves the arrow slightly down */
    }
  }
}

.mission {
  padding: 10rem 0;

  @include lg { padding: 6rem 0 }
  @include md { padding: 5rem 0 }

  .mission__inner {
    grid-column-gap: 0rem;
    grid-template-rows: auto;
    grid-template-columns: 3fr 2fr;
    grid-auto-columns: 1fr;
    place-items: center;
    display: grid;

    @include xl {
      display: flex;
      flex-direction: column;
      place-items: start;
      gap: 2rem;
    }

    h1 {
      font-size: 5rem;
      font-weight: 600;
      line-height: 120%;
      margin-bottom: 4rem;

      @include lg { font-size: 4rem }
      @include md { font-size: 3rem }
    }

    p {
      max-width: 500px;
      margin-bottom: 2rem;
      font-size: 1.25rem;
    }

    button {
      margin-top: 2rem;
    }
  }
}

.clients {
  overflow: hidden;

  .clients__list {
    display: flex;
    width: max-content;
    gap: 40px;
    
    .clients__client {
      display: flex;
      align-items: center;
      max-width: 150px;
      height: 150px;
      cursor: pointer;

      @include md {
        max-width: 80px;
        height: 100px;
      }
  
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.about {
  margin-bottom: 8rem;

  .about__inner {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    place-items: center;
    display: grid;
    padding: 3%;
    background: $bg-light;
    border-radius: 10px;

    @include lg {
      display: flex;
      flex-direction: column-reverse;
      padding: 20% 10%;
    }

    .about__imgs {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      position: relative;

      .about__img {
        position: relative;
        z-index: 1;

        .gatsby-image-wrapper {
          border-radius: 5px;
          overflow: none;
        }
      }

      .about__img:nth-child(1) {
        grid-column: 1 / span 8;
        grid-row: 1;
        padding-top: 30%;

         .gatsby-image-wrapper { box-shadow: 159px 274px 89px rgba(0, 0, 0, 0.01), 102px 175px 81px rgba(0, 0, 0, 0.04), 57px 98px 68px rgba(0, 0, 0, 0.15), 25px 44px 51px rgba(0, 0, 0, 0.25), 6px 11px 28px rgba(0, 0, 0, 0.29) }
      }

      .about__img:nth-child(2) {
        grid-column: 6 / -1;
        grid-row: 1;
        z-index: 1;

        .gatsby-image-wrapper { box-shadow: 138px 240px 78px rgba(0, 0, 0, 0.01), 89px 154px 71px rgba(0, 0, 0, 0.04), 50px 86px 60px rgba(0, 0, 0, 0.15), 22px 38px 44px rgba(0, 0, 0, 0.26), 6px 10px 24px rgba(0, 0, 0, 0.3) }
      }

      .about__img:nth-child(3) {
        grid-column: 4 / -1;
        grid-row: 1;
        padding-top: 90%;

        .gatsby-image-wrapper { box-shadow: 143px 250px 81px rgba(0, 0, 0, 0.01), 92px 160px 74px rgba(0, 0, 0, 0.04), 52px 90px 62px rgba(0, 0, 0, 0.15), 23px 40px 46px rgba(0, 0, 0, 0.25), 6px 10px 25px rgba(0, 0, 0, 0.29) }
      }

      .about__diagonal {
        position: absolute;
        top: 25px;
        left: 34px;
        display: block;
        max-width: 410px;
        width: 80%;
        height: 90%;
        max-height: 482px;
        background: url('../images/diagonal.png') no-repeat;
      }
    }

    h2 {
      font-size: 4.125rem;
      font-weight: 600;
      line-height: 120%;
      margin-bottom: 2rem;

      @include md { font-size: 3rem }
      @include md { font-size: 2.5rem }
    }

    p {
      font-size: 1.25rem;
    }
  }
}


.projects {
  overflow: hidden;
  
  .wrapper {
    padding: 6rem 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    @include sm { padding: 3rem 0 1rem }
  }
  
  .projects__inner {
    display: flex;
    gap: 32px;
  }
  
  .projects__project {
    position: relative;
    width: 100%;
    max-width: 657px;
    flex-shrink: 0;
    max-height: 350px;
    height: 53vw;
    overflow: hidden;
  }
  
  a {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    transition: background-color ease .2s;
    
    .gatsby-image-wrapper {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    
    svg {
      align-self: flex-end;
      visibility: hidden;
      opacity: 0;
      transition: all ease .2s;
    }
    
    .projects__project-text {
      margin: 0 0 0 -5px;
      transition: all ease .2s;
      visibility: hidden;
      opacity: 0;
    }
    
    h3 {
      padding: 0;
      font-weight: 600;
      font-size: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      
      span { font-weight: 500 }
    }
    
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    &:hover {
      background: rgba(0, 0, 0, .4);
      
      svg,
      .projects__project-text {
        visibility: visible;
        opacity: 1;
      }
      
      .projects__project-text { margin-left: 2px }
    }
  }

  .projects__nav {
    display: flex;
    align-self: center;
    padding: 1rem 0 2rem;

    @include sm { padding: .25rem 0 1rem }
    
    button {
      background: none;
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
      
      svg {
        fill: rgba(255, 255, 255, .6);
        transition: fill ease .2s;
      }
      
      &:hover svg {
        fill: rgba(255, 255, 255, 1);
      }
    }
  }
}

.services {
  padding: 6rem 0;
  background: $bg-darker;

  @include sm { padding: 3rem 0 }

  .services__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    @include lg { grid-template-columns: 1fr 1fr }
    @include md { grid-template-columns: 1fr }
    @include sm { gap: 1.5rem }

    .services__item {
      min-height: 350px;

      @include sm { min-height: 300px }

      .services__overlay {
        z-index: 0;
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        will-change: opacity;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        cursor: pointer;
      }
      
      .services__inner {
        height: 100%;

        .services__content {
          display: flex;
          flex-direction: column;
          height: 100%;
          background: $bg-dark;
          padding: 2rem;
          border-radius: 10px;
          cursor: pointer;
          transition: box-shadow ease .5s;

          &:hover {
            .services__button { opacity: 1 }
          }

          h4 {
            font-size: 1.625rem;
            font-weight: 500;
            margin-bottom: 1rem;

            @include sm { font-size: 1.5rem }
          }
    
          p {
            margin: 0;
            padding: 0;
            font-style: italic;
            line-height: 1.75rem;

            @include sm {
              font-size: .8rem;
              line-height: 1.5rem;
            }
          }
    
          .services__icon {
            width: 40px;
            height: 40px;
            margin-bottom: 2.5rem;

            @include sm { margin-bottom: 1rem }
          }
    
          .services__button {
            text-indent: -9999px;
            align-self: flex-end;
            cursor: pointer;
            width: 32px;
            height: 32px;
            background: url('../images/plus.svg') center no-repeat;
            border: none;
            opacity: .5;
            transition: opacity ease .2s;
          }

          .services__text {
            padding: 3rem 0 1rem;

            p {
              font-size: 1.25rem;
              font-style: normal;
              margin: 0 0 1.5rem;
              line-height: 2rem;

              @include sm {
                font-size: 1rem;
                line-height: 1.75rem;
              }
            }
          }
        }
      }

      &.open {
        z-index: 3;

        .services__inner {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 5% 0;
          overflow: scroll;
          

          .services__content {
            margin: 0 auto;
            width: 700px;
            height: auto;
            max-width: 90%;
            box-shadow: 159px 274px 89px rgba(0, 0, 0, 0.01), 102px 175px 81px rgba(0, 0, 0, 0.04), 57px 98px 68px rgba(0, 0, 0, 0.15), 25px 44px 51px rgba(0, 0, 0, 0.25), 6px 11px 28px rgba(0, 0, 0, 0.29);

            .services__button { transform: rotate(45deg) }
          }
        }
      }
    }
  }
}

.contact {
  margin: 2rem 0;
  
  .contact__inner {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    padding: 8%;
    background: lighten($bg-dark, 3%);
    border-radius: 10px;
    
    h2 {
      max-width: 1150px;
      font-size: 4.125rem;
      font-weight: 600;

      @include lg { font-size: 3rem }
    }
    
    p {
      font-size: 1.25rem;
      max-width: 500px;
    }
  }
  
}

.footer {
  padding: 4rem 0;
  background: #fff;
  color: #000;
  font-weight: 500;
  
  & .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem;

    @include md {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    .footer__section {
      p {
        margin-bottom: 1rem;
      }
  
      .footer__text {
        margin-bottom: 2rem;
      }
      
      &:first-child {
        grid-area: 1 / 1 / 3 / 3;
      }
      &:nth-child(2) {
        grid-area: 1 / 3 / 3 / 4;
        @include lg { grid-area: 1 / 3 / 2 / 5 }
        @include md { margin-bottom: 4rem }
      }
      &:last-child {
        font-weight: 400;
        grid-area: 1 / 4 / 3 / 5;
        @include lg {
          grid-area: 2 / 3 / 3 / 5;
          align-self: flex-end;
        }
        @include md { align-self: auto }
      }

      .footer__socials {
        display: flex;
        gap: .75rem;
      }
    }

  }
  

  
}