@import 'reset';
@import 'variables';

body {
  color: $primary;
  font-family: $font-primary;
  font-size: 100%;
  background: $bg-dark;
}

.button {
  display: inline-block;
  padding: .8rem 2.25rem;
  color: $dark;
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
  background: $highlight;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all ease .2s;

  &:hover {
    cursor: pointer;
    color: $bg-dark;
    background: #fff;
  }
}

.button-solid {
  background: #fff;
  border: none;
  text-transform: none;
  color: $primary;
  border-radius: 5px;
  letter-spacing: 0;
  font-size: 1.05rem;
}

.wrapper {
  width: 94%;
  max-width: 1760px;
  margin: 0 auto;
}

.page_top {
  width: 100%;
  min-height: 100vh;

  #myVideo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
  }

  .wrapper {
    height: 100vh;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;

  @include md { justify-content: center }

  h1 {
    
    margin: 0;
    padding: 0;
    color: $secondary;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    display: flex;
    
    img {
      width: 27px;
      margin-right: 1rem;
    }
  }

  .header__nav {
    @include md { display: none }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-right: 1rem;
        a, button {
          border: none;
          cursor: pointer;
          padding: .8rem 1rem;
          color: $secondary;
          font-weight: 500;
          text-decoration: none;
          border-radius: 3px;
          transition: all ease .2s;

          &:hover {
            color: $primary;
            background: rgba(255, 255, 255, .2) !important;
          }
        }

        &:last-child {
          margin: 0;

          a, button {
            background: rgba(255, 255, 255, .15);
          }
        }
      }
    }
  }

  p { padding: 0.75rem 0 }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 1);
  z-index: 5;

  .overlay__close {
    align-self: flex-end;

    button {
      background: none;
      border: none;
      color: $primary;
      padding: 1rem;
      font-size: 1.25rem;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .overlay__text{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .overlay__clipboard {
      display: flex;
      flex-direction: column;
      border: 2px dashed rgb(52, 52, 52);
      border-radius: 5px;
    }

    h3 {
      padding: .6rem 1.25rem;
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
    }

    button {
      margin-top: -1.25rem;
      align-self: flex-end;
      background: $highlight;
      border: none;
      color: $dark;
      font-weight: 500;
      font-size: .8rem;
      border-radius: 5px 0 5px 0;
      cursor: pointer;
      transition: background-color ease .2s;

      &:hover {
        background: darken($highlight, 10%);
      }

      &:active {
        background: darken($highlight, 20%);
      }
    }
  }
}

.hero {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.mission {
  padding: 10rem 0;

  @include lg { padding: 6rem 0 }
  @include md { padding: 5rem 0 }

  .mission__inner {
    grid-column-gap: 0rem;
    grid-template-rows: auto;
    grid-template-columns: 3fr 2fr;
    grid-auto-columns: 1fr;
    place-items: center;
    display: grid;

    @include xl {
      display: flex;
      flex-direction: column;
      place-items: start;
      gap: 2rem;
    }

    h1 {
      font-size: 5rem;
      font-weight: 600;
      line-height: 120%;
      margin-bottom: 4rem;

      @include lg { font-size: 4rem }
      @include md { font-size: 3rem }
    }

    p {
      max-width: 500px;
      margin-bottom: 2rem;
      font-size: 1.25rem;
    }

    button {
      margin-top: 2rem;
    }
  }
}

.clients {
  overflow: hidden;

  .clients__list {
    display: flex;
    width: max-content;
    gap: 40px;
    
    .clients__client {
      display: flex;
      align-items: center;
      max-width: 150px;
      height: 150px;

      @include md {
        max-width: 80px;
        height: 100px;
      }
  
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.about {
  margin-bottom: 8rem;

  .about__inner {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    place-items: center;
    display: grid;
    padding: 3%;
    background: $bg-light;
    border-radius: 10px;

    @include lg {
      display: flex;
      flex-direction: column-reverse;
      padding: 20% 10%;
    }

    .about__imgs {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      position: relative;

      .about__img {
        img {
          border-radius: 5px;
        }
      }

      .about__img:nth-child(1) {
        grid-column: 1 / span 8;
        grid-row: 1;
        padding-top: 40%;
      }

      .about__img:nth-child(2) {
        grid-column: 6 / -1;
        grid-row: 1;
        z-index: 1;
      }

      .about__img:nth-child(3) {
        grid-column: 3 / -1;
        grid-row: 1;
        padding-top: 110%;
      }
    }

    h2 {
      font-size: 4.125rem;
      font-weight: 600;
      line-height: 120%;
      margin-bottom: 2rem;

      @include md { font-size: 3rem }
      @include md { font-size: 2.5rem }
    }

    p {
      font-size: 1.25rem;
    }
  }
}


.projects {
  overflow: hidden;
  
  .wrapper {
    padding: 4rem 0 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: 1px solid $border;
  }
  
  .projects__top {
    display: flex;
    

    @include md {
      flex-direction: column;
      gap: 2rem;
    }
    
    h2 {
      font-size: 2.875rem;
      font-weight: 600;
      margin-bottom: 1.75rem;
    }
    
    p {
      font-size: 1.25rem;
      max-width: 524px;
    }

  }
  
  
  .projects__inner {
    display: flex;
    gap: 32px;
  }
  
  .projects__project {
    position: relative;
    width: 100%;
    max-width: 657px;
    flex-shrink: 0;
    max-height: 350px;
    height: 53vw;
    overflow: hidden;
  }
  
  a {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    transition: background-color ease .2s;
    
    .gatsby-image-wrapper {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    
    svg {
      align-self: flex-end;
      visibility: hidden;
      opacity: 0;
      transition: all ease .2s;
    }
    
    .projects__project-text {
      margin: 0 0 0 -5px;
      transition: all ease .2s;
      visibility: hidden;
      opacity: 0;
    }
    
    h3 {
      padding: 0;
      font-weight: 600;
      font-size: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      
      span { font-weight: 500 }
    }
    
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    &:hover {
      background: rgba(0, 0, 0, .4);
      
      svg,
      .projects__project-text {
        visibility: visible;
        opacity: 1;
      }
      
      .projects__project-text { margin-left: 2px }
    }
  }

  .projects__nav {
    display: flex;
    align-self: center;

    @include md { align-self: flex-start }
    
    button {
      background: none;
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
      
      svg {
        fill: rgba(255, 255, 255, .6);
        transition: fill ease .2s;
      }
      
      &:hover svg {
        fill: rgba(255, 255, 255, 1);
      }
    }
  }
}

.services {
  margin-bottom: 8rem;

  .services__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0;
    text-align: center;

    @include md { padding: 5rem 0 }

    h2 {
      font-size: 4.75rem;
      font-weight: 600;
      line-height: 120%;
      margin-bottom: 2rem;

      @include lg { font-size: 4rem }
      @include md { font-size: 3rem }
      @include sm { font-size: 2.5rem }
    }

    p {
      font-size: 1.25rem;
      max-width: 520px;
    }
  }
  .services__list {
    .services__item {
      padding: 2rem 0 5rem;
      border-bottom: 1px solid $primary;

      .services__content {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        grid-column-gap: 15rem;
  
        @include md {
          display: flex;
          flex-direction: column;
          gap: 2rem;
        }

        p {
          font-size: 1rem;
          line-height: 180%;
        }

        .services__list {
          p { font-style: italic }
        }

        .services__text {
          padding-right: 12rem;

          p {
            font-size: 1.25rem;
          }
        }
      }

      h4 {
        font-size: 1.625rem;
        font-weight: 500;
        margin-bottom: 2rem;
      }
    }
  }
}

.contact {
  margin: 2rem 0;
  
  .contact__inner {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    padding: 8%;
    background: lighten($bg-dark, 3%);
    border-radius: 10px;
    
    h2 {
      max-width: 1150px;
      font-size: 4.125rem;
      font-weight: 600;

      @include lg { font-size: 3rem }
    }
    
    p {
      font-size: 1.25rem;
      max-width: 500px;
    }
  }
  
}

.footer {
  background: $bg-light;
  margin-bottom: 1.5rem;
  padding: 2.5rem 0;
  
  text-align: center;

  @include lg { padding: 4rem 0 }

  a {
    display: block;
    margin-bottom: .5rem;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
  }
}