@import 'reset';
@import 'variables';

body {
  color: $color-text;
  font-family: $font-primary;
  font-size: 100%;
  background: $color-background;
}

.button {
  display: inline-block;
  padding: .8rem 2.25rem;
  font-size: .875rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid $color-border;
  box-sizing: border-box;
  transition: all ease .2s;

  &:hover {
    color: $color-background;
    background: #fff;
  }
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.page_top {
  background-image: url('../images/waves.svg');
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;

  h1 {
    display: block;
    margin: 0;
    padding: 0;
    color: $color-text-dark;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;

    a {
      text-decoration: none;

      &:hover {
        
      }

      &:active {
        
      }
    }
  }

  .header__nav {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-right: 1rem;
        a {
          padding: .8rem 1rem;
          color: $color-text-light;
          text-decoration: none;
          border-radius: 3px;
          transition: all ease .2s;

          &:hover {
            color: $color-text-dark;
            background: lighten($color-grey, 5%);
          }
        }

        &:last-child {
          margin: 0;

          a {
            background: $color-grey;

            &:hover {
              background: lighten($color-grey, 5%);
            }
          }
        }
      }
    }
  }

  p { padding: 0.75rem 0 }
}

.hero {
  .hero__inner {
    padding: 10rem 0;
    h2 {
      margin-bottom: 5.625rem;
      color: $color-text-dark;
      font-size: 3.125rem;
      font-weight: 400;

      span {
        display: block;

        &:last-child {
          color: $color-text-light;
        }
      }
    }
  }
}

.about {
  padding: 6em 0;
  border-bottom: 1px solid $color-border;

  p {
    max-width: 1100px;
    color: $color-text-light;
    font-size: 1.875rem;

    span { color: $color-text-dark }
  }
}

.projects {
  margin: 6rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 60vw;
  max-height: 900px;
  
  .projects__project {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    overflow: hidden;

    &:nth-child(10n+3), &:nth-child(10n+6) {
      grid-column-end: span 2;
      grid-row-end: span 2;
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px 15px;
      text-decoration: none;
      background: rgba(0, 0, 0, .4);
      transition: background-color ease .2s;

      img {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      svg {
        align-self: flex-end;
        visibility: hidden;
        opacity: 0;
        transition: all ease .2s;
      }
  
      h3 {
        margin: 0 0 0 -5px;
        padding: 0;
        font-weight: 400;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all ease .2s;
        visibility: hidden;
        opacity: 0;

        span { font-weight: 500 }
      }

      &:hover {
        background: rgba(0, 0, 0, .2);

        svg,
        h3 {
          visibility: visible;
          opacity: 1;
        }

        h3 { margin-left: 2px }
      }
    }
  }
}

.clients {
  padding: 6rem 0;

  .clients__list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 4rem;
    
    .clients__client {
      display: flex;
      align-items: center;
      grid-column: span 2;
      height: 100px;
  
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.footer {
  margin-bottom: 1.5rem;
  padding: 1rem 0;
  border-top: 1px solid $color-border;
  color: $color-text-light;
  text-align: center;
}